.signup-page {
  /* background-image: url("/images/error.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 40px 0;
}

.signup-page:after {
  position: absolute;
  content: "";
  background: -webkit-linear-gradient(
    135deg,
    rgb(255, 16, 83) 0%,
    rgb(52, 82, 255) 100%
  );
  opacity: 0.7;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

.signup-page .container-fluid {
  padding: 0;
  margin: 0;
  position: relative;
}

.signup-page .container-fluid .container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 600px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 25px rgb(0 0 0 / 15%);
  z-index: 100;
}

.container .title {
  font-size: 34px;
  color: #fff;
  text-shadow: 3px 2px 6px #000;
  font-weight: 500;
  position: relative;
}

.container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5px 0 0;
}

form .user-details .input-box {
  margin: 0 0 10px;
  height: inherit;
  font-family: "Lato", sans-serif;
  width: calc(100% / 2 - 20px);
}

form .user-details .input-box2 {
  margin-bottom: 10px;
  width: 100%;
}

form .user-details .input-box2 textarea {
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  outline-width: 0px;
}

form .input-box span.details {
  display: block;
  color: #fff;
  text-shadow: 3px 2px 6px #000;
  font-weight: 500;
  margin-bottom: 5px;
}

form .input-box2 span.details {
  display: block;
  color: #fff;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input {
  height: 45px !important;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 10px;
  border: 1px solid #ccc !important;
  border-bottom-width: 2px !important;
  transition: all 0.3s ease;
}

.user-details .input-box2 input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #9b59b6;
}

.user-details .input-box2 input:focus,
.user-details .input-box2 input:valid {
  border-color: #9b59b6;
}

form .signupbutton {
  height: 45px;
  text-align: right;
  margin: 10px 0 0;
}

form .button input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

form .button input:hover {
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }
  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }
  form .category {
    width: 100%;
  }
  .content form .user-details {
    max-height: 350px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar {
    width: 5px;
  }
}

@media (max-width: 459px) {
  .container .content .category {
    flex-direction: column;
  }
}
@media only screen and (min-width: 576px) {
  .signup-page .container-fluid .container {
    top: -20px;
  }
}
@media only screen and (min-width: 768px) {
  .signup-page {
    padding: 80px 0;
  }
  .signup-page .container-fluid .container {
    top: -40px;
    padding: 20px 40px;
  }
  .container .title {
    font-size: 40px;
  }
}
