html {
  scroll-behavior: smooth;
}
.nav-backdrop {
  background-image: -webkit-linear-gradient(
    0deg,
    rgb(52, 82, 255) 0%,
    rgb(255, 16, 83) 100%
  );
  width: 100%;
  height: 80px;
  display: none;
}
.mt60 {
  padding: 0;
}
.sidebar {
  margin-top: 60px;
  height: auto;
  display: none;
}
.sidebar:before {
  background-color: rgb(255, 255, 255);
  bottom: 0;
  content: "";
  left: 0;
  right: 0;
  top: -60px;
  box-shadow: 0px 1px 4px 0px rgb(0 0 0 / 9%);
  position: absolute;
}
.sidebar .btn {
  padding: 0;
  outline: 0;
  border: none;
  box-shadow: 0 0 0 0;
  position: relative;
}
.sidebar .content h3 {
  position: relative;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: lighter;
  color: #0a0a0a;
  line-height: 1.2;
  padding-left: 30px;
}
.sidebar .content ul.prfl_list {
  list-style-type: none;
}
.sidebar .content ul.prfl_list li {
  height: 50px;
  padding: 0;
  line-height: 45px;
  position: relative;
  transition: all 0.3s ease 0s;
}
.sidebar .content ul.prfl_list li a,
.sidebar .content ul.prfl_list li button {
  display: inline-block;
  width: 100%;
  height: 50px;
  color: #7f7f7f;
  font-size: 16px;
  padding: 0;
  padding-left: 30px;
  text-decoration: none;
}
.sidebar .content ul.prfl_list li button {
  border: none;
  outline: none;
  text-align: left;
  background: none;
}
.sidebar .content ul.prfl_list li button i.fas,
.sidebar .content ul.prfl_list li a i.fas,
.sidebar .content ul.prfl_list li a i.far {
  width: 20px;
  margin-right: 10px;
}
.sidebar .content ul.prfl_list li:hover a,
.sidebar .content ul.prfl_list li:hover button {
  color: #2441e7;
}
.scrollbar {
  background-color: #f9fafc;
  padding: 10px;
}
/*========================================== Media Query =============================================*/
@media only screen and (min-width: 769px) {
  .sidebar {
    display: block;
  }
  .nav-backdrop {
    display: block;
  }
  .scrollbar {
    padding: 0 15px;
  }
}
/*======================================== Dashboard =================================================*/
.dashboard {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  background-color: rgb(225, 230, 239);
  margin: 0 0 10px;
  padding: 10px;
  position: relative;
}
.dashboard p.title {
  font-size: 22px;
  font-weight: 100;
  color: #0a0a0a;
  line-height: 26px;
  letter-spacing: 1px;
}
.dashboard p.button {
  font-size: 20px;
  margin: 0;
  color: #0a0a0a;
  line-height: 26px;
}
.dashboard p.link {
  font-size: 15px;
  color: #7e7e7e;
  line-height: 26px;
  display: none;
}
.dashboard p.link a {
  color: #555;
  text-decoration: none;
}
.dashboard p.link a:hover {
  color: #333;
}
/* ============ Media Query ================= */
@media only screen and (min-width: 768px) {
  .dashboard {
    margin: 60px 0 30px;
    padding: 20px 30px;
  }
  .dashboard p.title,
  .dashboard p.link {
    line-height: 1.2;
    display: block;
  }
  .dashboard p.button {
    display: none;
  }
}

/* ========================================== */

.p10 {
  padding: 0 10px;
}
.details-box {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  height: 150px;
  margin-bottom: 30px;
  position: relative;
  padding: 20px 20px 20px 25px;
  max-width: 350px;
  box-shadow: 0px 1px 4px 0px rgb(0 0 0 / 9%);
}
.details-box .icon {
  border-radius: 5px;
  background-color: rgb(36, 65, 231);
  box-shadow: 0px 1px 4px 0px rgb(0 0 0 / 9%);
  float: right;
  height: 110px;
  line-height: 60px;
  padding: 30px 27px;
  text-align: center;
  width: 106px;
}
.details-box .style1 {
  background-color: rgb(255, 16, 83);
}
.details-box .style2 {
  background-color: rgb(0, 167, 142);
}
.details-box .style3 {
  background-color: rgb(236, 208, 111);
}
.details-box .style4 {
  background-color: #c0cbdc;
}
.details-box .style5 {
  background-color: #4cb3db;
}
.details-box .style6 {
  background-color: #909468;
}
.details-box .style7 {
  background-color: #a50000;
}
.details-box .style8 {
  background-color: #ae3f00;
}
.details-box .style9 {
  background-color: #35352c;
}
.details-box .style10 {
  background-color: #607aa5;
}
.details-box .style11 {
  background-color: #232606;
  color: #000;
}

.details-box .icon .fas,
.details-box .icon .far {
  color: #ffffff;
  font-size: 48px;
}
.details-box .details {
  height: 100%;
  width: 106px;
  position: relative;
  height: 110px;
}
.details-box .details a.list-link {
  color: #7e7e7e;
  font-size: 15px;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  position: absolute;
  margin: 0;
}
.details-box .details a.list-link:hover {
  color: #0a0a0a;
  text-decoration: none;
}
.details-box .details p.value {
  font-size: 26px;
  padding-top: 55px;
  font-weight: 600;
  color: #0a0a0a;
  line-height: 0.5;
  margin: 0;
}
/*====================================== Common Header ============================================*/
.course-list,
.marked,
.order,
.settings {
  margin-bottom: 30px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 1px 4px 0px rgb(0 0 0 / 9%);
}
.course-list .list-header,
.marked .list-header,
.order .list-header,
.settings .list-header {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px 20px;
  border-bottom: 1px solid #eee;
}
.course-list .list-header h4,
.marked .list-header h4,
.order .list-header h4 {
  line-height: 1.42857;
  color: #0a0a0a;
  margin: 10px 0 0;
  font-size: 18px;
}

.course-list .list-header .dropdown,
.marked .list-header .dropdown,
.order .list-header .dropdown {
  padding: 0 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.course-list .list-header .dropdown select.dropdown-toggle,
.marked .list-header .dropdown select.dropdown-toggle,
.order .list-header .dropdown select.dropdown-toggle {
  padding: 6px 12px;
  color: #495057;
  line-height: 35px;
  background-color: #fff;
  border: none;
  color: #495057;
  height: 50px;
  outline-width: 0;
  cursor: pointer;
}

.course-list .list-header .dropdown select.dropdown-toggle .list-item,
.marked .list-header .dropdown select.dropdown-toggle .list-item,
.order .list-header .dropdown select.dropdown-toggle .list-item {
  display: block;
  width: 100%;
  padding: 4px 24px;
  color: #212529;
  text-decoration: none;
}
/*====================================== Common Footer ============================================*/
.end {
  padding: 20px;
  border-top: 1px solid #eee;
  text-align: center;
}
/*========================================== Course List =================================================*/
.course-list .courses .add .thumb {
  display: inline-flex;
  margin-right: 10px;
  height: 178px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
}
.course-list .courses .add .thumb .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  z-index: 22;
}
.thumb .overlay .btn {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 280px;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  color: #fff;
  background-color: transparent;
  height: 35px;
  text-align: center;
  width: 100px;
  z-index: 55;
}
.course-list .courses .add {
  padding: 10px;
  border-bottom: 1px solid #eeeeee;
}
.course-list .courses .add:hover {
  background-color: #f9fafc;
  cursor: default;
}
.course-list .courses .add:hover .thumb .overlay {
  transform: scale(1);
  text-align: center;
  cursor: pointer;
}
.course-list .courses .add h4 {
  font-size: 16px;
  color: #7e7e7e;
  line-height: 1.2;
  margin-bottom: 8px;
}
.course-list .courses .add p.completed {
  margin: 0;
  float: right;
  color: #7e7e7e;
}
.course-list .courses .add p.completed span {
  color: #0a0a0a;
}
.course-list .courses .add p.title {
  margin: 0 0 10px;
  color: #0a0a0a;
  font-size: 18px;
  line-height: 1.42857;
}
.course-list .courses .add p.about {
  font-size: 14px;
  display: none;
  color: #7e7e7e;
  line-height: 1.714;
  margin-bottom: 25px;
}
.course-list .courses .add .footer {
  display: flex;
  justify-content: space-between;
}
.course-list .courses .add .footer p {
  font-size: 15px;
  margin: 0;
  color: #555;
}
.course-list .courses .add .footer p i.far {
  margin-right: 5px;
}
.course-list .courses .add .footer p span.fa {
  color: #2441e7;
}
/* ====== MEDIA QUERY ====== */
@media only screen and (min-width: 576px) {
  .course-list .courses .add p.about {
    display: block;
  }
  .course-list .courses .add .footer {
    justify-content: initial;
  }
  .course-list .courses .add .footer p {
    margin-right: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .course-list .courses .add {
    padding: 20px;
  }
}
/*========================================== Course Contents ========================================*/
.cover-nav {
  display: none;
  height: 85px;
  background-image: -webkit-linear-gradient(
    0deg,
    rgb(52, 82, 255) 0%,
    rgb(255, 16, 83) 100%
  );
  width: 100%;
}

.crs-bought .container-fluid {
  top: -3px;
  padding: 15px;
}
.inner-row-left {
  padding: 0;
}
#indicator {
  font-size: 14px;
  position: relative;
  background: #fff;
  color: #0a0a0a;
  margin: 0 0 10px;
  padding: 5px 10px;
  z-index: 100;
  letter-spacing: 1px;
  box-shadow: 0 2px 7px #7d7d7d;
}
#indicator span {
  font-weight: 600;
}
#indicator b {
  float: right;
  color: #ff1053;
  padding: 0 8px;
  cursor: pointer;
}
.videoframe {
  width: inherit;
  border-radius: 5px;
}
.video h3.title {
  font-size: 20px;
  font-weight: 600;
  color: #0a0a0a;
  line-height: 1.2;
  margin: 0;
  margin: 10px 0 20px;
}
.video p.para {
  font-size: 18px;
  color: #3b3b3b;
  line-height: 1.333;
  margin: 0;
  margin-bottom: 10px;
}
.video .description_1,
.video .description_2 {
  margin: 0;
  margin-top: 20px;
  font-size: 15px;
  color: #7e7e7e;
  text-align: justify;
}
.video .p0 {
  padding: 0;
}
.video .section {
  height: 535px;
  overflow-y: auto;
}
.video .section::-webkit-scrollbar {
  display: none;
}
.video .section h3 {
  font-size: 22px;
  padding: 10px 0;
  font-weight: 100;
}
.video .section .panel .panel-title {
  padding: 10px 20px;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 100;
  color: #0a0a0a;
  background-color: #edeff7;
  width: 100%;
  line-height: 1.7;
  border-radius: 5px;
  text-align: left;
  text-decoration: none;
  border: none;
  outline: none;
}
.video .section .panel .collapsible:after {
  content: "\f107";
  float: right;
  margin-top: 5px;
  font-size: 10px;
  font-weight: 900;
}
.video .section .panel .active:after {
  content: "\f106";
}
.video .section .panel .panel-body {
  padding: 0 0 10px;
}
.video .section .panel .panel-body .vedio-details {
  border-bottom: 1px solid #eeeeee;
  padding: 10px 10px 0;
  display: flex;
  flex-wrap: wrap;
}
.video .section .panel .panel-body > .vedio-details:last-child {
  border: none;
}
.video .section .panel .panel-body .vedio-details:hover {
  cursor: pointer;
  background-color: #edeff7;
  color: #000;
}
.video .section .panel .panel-body .vedio-details p {
  margin-bottom: 10px;
}
.video .section .panel .panel-body .vedio-details input {
  width: 6%;
  margin: 6px 0;
}
.video .section .panel .panel-body .vedio-details p.vedio-title {
  width: 80%;
}
.video .section .panel .panel-body .vedio-details p.vedio-duration {
  width: 14%;
}
.video .nav-tabs {
  margin: 15px 0 0;
  overflow-x: scroll;
  overflow-y: hidden;
  flex-wrap: no-wrap;
  border-bottom: 1px solid #dcdacb;
}
.video .nav-tabs .nav-item {
  padding: 5px 10px;
}
.video .nav-tabs .nav-link {
  font-size: 14px;
  padding: 0;
  font-weight: 500;
  color: #3452ff;
  border: 1px solid transparent;
  border-top: 1px solid transparent !important;
  border-bottom: 2px solid transparent;
}
.video .nav-tabs .nav-item.show .nav-link,
.video .nav-tabs .nav-link.active {
  color: #000;
  border: 1px solid transparent;
  border-top: 1px solid transparent !important;
  border-bottom: 2px solid #3452ff;
}
.video .nav-tabs .nav-link:hover {
  color: #000;
  border: 1px solid transparent;
  border-top: 1px solid transparent !important;
  border-bottom: 2px solid #3452ff;
}
.video .tab-content .tab-pane h1 {
  font-size: 30px;
  margin: 0 0 8px;
}
.video .tab-content .tab-pane p {
  font-size: 16px;
  margin: 0;
  word-spacing: 1px;
  color: #7e7e7e;
  text-align: justify;
  margin-bottom: 15px;
}
.video .tab-content .tab-pane {
  padding: 10px 20px;
}

.video .tab-content .tab-pane .course_overview {
  padding: 0;
  margin-bottom: 20px;
}

.video .tab-content .tab-pane .course_overview p.title {
  font-size: 20px;
  font-weight: 600;
  color: #0a0a0a;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 22px;
  text-shadow: none;
}

.video .tab-content .tab-pane .course_overview p.title::before {
  position: relative;
}

.video .tab-content .tab-pane .course_overview p.para {
  font-size: 18px;
  color: #3b3b3b;
  line-height: 1.333;
  margin: 0;
  margin-bottom: 10px;
}
.course_overview .description_1,
.course_overview .description_2 {
  margin: 0;
  margin-top: 20px;
  font-size: 15px;
  color: #7e7e7e;
  text-align: justify;
}
.video .tab-content .tab-pane .check_list {
  margin-bottom: 10px;
}
.video .tab-content .tab-pane .check_list p {
  font-size: 18px;
  font-weight: lighter;
  color: #3b3b3b;
  line-height: 1.333;
  margin: 0;
  margin-bottom: 10px;
}
.video .tab-content .tab-pane .check_list .col-lg-6 {
  padding: 0;
}
.video .tab-content .tab-pane .check_list .col-lg-6 ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}
.video .tab-content .tab-pane .check_list .col-lg-6 .fas {
  margin-right: 15px;
  color: #7e7e7e;
}
.video .tab-content .tab-pane .check_list .col-lg-6 li {
  font-size: 15px;
  color: #7e7e7e;
  line-height: 2.8;
  margin-bottom: 0;
}

/* =========== */
@media only screen and (min-width: 768px) {
  .cover-nav {
    display: block;
  }
  .crs-bought .container-fluid {
    top: 0;
    padding: 50px 20px;
  }
  .inner-row-left {
    padding: 0 15px;
  }
  #indicator {
    font-size: 20px;
  }
  #indicator b {
    padding: 1px 8px;
  }
  .video .nav-tabs {
    margin: 15px 0 0;
    overflow: initial;
    flex-wrap: nowrap;
    border-bottom: 1px solid #dcdacb;
  }
  .video .nav-tabs .nav-item {
    padding: 0;
  }
  .video .nav-tabs .nav-link {
    font-size: 20px;
    padding: 8px 16px;
  }
}

/*========================*/
.video .tab-content .tab-pane .course_requirements p {
  font-size: 18px;
  font-weight: lighter;
  color: #3b3b3b;
  line-height: 1.333;
  margin: 0;
  margin-bottom: 10px;
}
.course_requirements ul.req_list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}
.course_requirements ul.req_list .fas {
  margin-right: 15px;
  color: #7e7e7e;
  font-size: 10px;
}
.course_requirements .req_list li {
  font-size: 15px;
  color: #7e7e7e;
  line-height: 2.8;
  margin-bottom: 0;
}
/* ========================================== Course Q & A ======================================= */

.video .tab-content .tab-pane .comment .raise {
  margin: 20px auto;
  width: 90%;
}

.video .tab-content .tab-pane .comment .raise .head {
  display: inline-block;
  width: 100%;
  font-size: 40px;
  color: #2441e7;
  font-weight: 400;
  position: relative;
}

.video .tab-content .tab-pane .comment .raise textarea {
  border-color: #dcdacb;
  width: 80%;
  padding: 10px 20px;
  font-size: 14px;
  color: #000;
  max-height: 100px;
  font-weight: 100;
  letter-spacing: 1px;
  word-spacing: 2px;
  text-transform: lowercase;
  font-family: initial;
  outline-width: 0px;
}

.video .tab-content .tab-pane .comment .raise .button {
  display: flex;
  margin: 10px 0 0;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
}

.video .tab-content .tab-pane .comment .raise .button button {
  font-size: 18px;
  margin: 0 5px;
  padding: 5px 7px;
  width: 100px;

  color: #ff1053;
  background-color: #fff;
  border: 1px solid #ff1053;
  transition: all ease 0.3s;
}

.video .tab-content .tab-pane .comment .raise .button button.confirm {
  margin: 0 5px;
}

.video .tab-content .tab-pane .comment .raise .button button:hover {
  color: #fff;
  background-color: #ff1053;
}

.video .tab-content .tab-pane .comment .post summary {
  position: relative;
  padding: 10px 20px;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 100;
  color: #0a0a0a;
  background-color: #edeff7;
  width: 100%;
  line-height: 1.7;
  border-radius: 5px;
  text-align: left;
  text-decoration: none;
  border: none;
  outline: none;
}

.video .tab-content .tab-pane .comment .post summary:after {
  content: "\f107";
  position: absolute;
  font-size: 10px;
  font-weight: 900;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 20px;
  width: fit-content;
  height: fit-content;
}

.video .tab-content .tab-pane .comment .post summary p.quest {
  font-size: 16px;
  color: #0a0a0a;
  margin: 0;
}

.video .tab-content .tab-pane .comment .post p.admin-answer {
  font-size: 16px;
  color: #0a0a0a;
  margin: 0;
  padding: 5px 25px 10px;
  max-height: 150px;
  overflow-y: auto;
}
/* ========================================== Course Review ======================================= */

.video .tab-content .tab-pane .user_review {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}
.video .tab-content .tab-pane .user_review h3 {
  font-size: 24px;
  font-weight: 400;
  color: #0a0a0a;
  margin-bottom: 25px;
  line-height: 1.2;
}
.video .tab-content .tab-pane .user_review .row {
  margin: 0;
}
.video .tab-content .tab-pane .user_review .row .col-sm-8,
.video .tab-content .tab-pane .user_review .row .col-md-8,
.video .tab-content .tab-pane .user_review .row .col-lg-9 {
  padding: 0;
  padding-right: 100px;
}
.video .tab-content .tab-pane .user_review ul.progressbar {
  padding: 0;
  list-style-type: none;
  margin-bottom: 35px;
}
.video .tab-content .tab-pane .user_review .row .col-sm-8 > ul:last-child,
.video .tab-content .tab-pane .user_review .row .col-md-8 > ul:last-child,
.video .tab-content .tab-pane .user_review .row .col-lg-9 > ul:last-child {
  margin: 0;
}
.video .tab-content .tab-pane .user_review ul.progressbar li {
  font-size: 14px;
  float: left;
  color: #4f4f4f;
  line-height: 1.2;
  margin-right: 30px;
  margin-top: -3px;
}
.video .tab-content .tab-pane .user_review ul.progressbar .progress {
  height: 10px;
  border-radius: 10px;
}
.video
  .tab-content
  .tab-pane
  .user_review
  ul.progressbar
  .progress
  .progress-bar {
  background-color: #ff1053;
}
.video .tab-content .tab-pane .user_review .row .col-sm-4,
.video .tab-content .tab-pane .user_review .row .col-md-4,
.video .tab-content .tab-pane .user_review .row .col-lg-3 {
  padding: 50px 30px;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(52, 82, 255);
}
.video .tab-content .tab-pane .user_review .row .col-sm-4 p {
  margin: 0;
}
.video .tab-content .tab-pane .user_review .row .col-sm-4 p.rating_value {
  font-size: 50px;
  color: #fff;
  font-weight: 700;
  line-height: 0.6;
  margin-bottom: 20px;
  text-align: inherit;
}
.video .tab-content .tab-pane .user_review .row .col-sm-4 p.rating {
  font-size: 11px;
  color: #d0d23c;
  margin-right: 3px;
  line-height: 1.2;
  margin-bottom: 7px;
  text-align: inherit;
}
.video .tab-content .tab-pane .user_review .row .col-sm-4 p.ft {
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  text-align: inherit;
}
/*================================= Reviews ===================================*/
.video .tab-content .tab-pane .user_review .review h3 {
  font-size: 20px;
  font-weight: 400;
  color: #0a0a0a;
  margin-bottom: 25px;
  line-height: 1.2;
}
.video .tab-content .tab-pane .user_review .review .review-card .row {
  margin: 0;
}
.user_review .review .review-card .col-sm-1,
.user_review .review .review-card .col-md-1 {
  padding: 0;
}
.user_review .review .review-card .col-sm-11,
.user_review .review .review-card .col-md-11 {
  margin-bottom: 15px;
}
.user_review .review .review-card .img {
  border-radius: 50%;
}
.user_review .review .review-card .row p.r-name {
  font-size: 18px;
  letter-spacing: 1.5px;
  font-weight: lighter;
  margin: 0;
  line-height: 1.42857;
  color: #2441e7;
  margin-bottom: 8px;
}
.user_review .review .review-card .row span {
  float: right;
}
.user_review .review .review-card .row span > span {
  float: left;
}
.user_review .review .review-card .row .fa {
  font-size: 11px;
  letter-spacing: normal;
  color: rgb(255, 16, 83) /*#d0d23c*/;
  margin-top: 5px;
  margin-left: 8px;
}
.user_review .review .review-card .row p.r-date {
  font-size: 14px;
  margin: 0;
  color: #555;
}
.user_review .review .review-card .row p.r-para {
  font-size: 15px;
  font-weight: 400;
  color: #6f7074;
  margin: 20px 0 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.video .tab-content .tab-pane .user_review form {
  text-align: center;
}
.video .tab-content .tab-pane .user_review .review_btn {
  border: 2px solid #2441e7;
  border-radius: 25px;
  color: #2441e7;
  font-size: 15px;
  height: 50px;
  background-color: #fff;
  line-height: 47px;
  margin-top: 30px;
  padding: 0 60px;
  transition: all 0.3s ease;
}
.video .tab-content .tab-pane .user_review .review_btn:hover {
  background-color: #2441e7;
  color: #fff;
}
.video .tab-content .tab-pane .user_review .review_btn:focus {
  outline: none;
}

/* ================================================== */

.video .tab-content .tab-pane .user-rev {
  padding: 15px 5px;
  margin: 0 0 15px;
  border-bottom: 1px solid #ccc;
}

.video .tab-content .tab-pane .user-rev h4 {
  color: #2441e7;
}

.video .tab-content .tab-pane .user-rev .row {
  margin: 0 0 10px;
  justify-content: space-between;
}

.video .tab-content .tab-pane .user-rev .row p.date {
  font-size: 16px;
  margin: 0;
  font-family: initial;
  color: #7d7d7d;
  word-spacing: 2px;
}

.video .tab-content .tab-pane .user-rev .row p.date span {
  font-size: 16px;
  color: #0a0a0a;
}

.video .tab-content .tab-pane .user-rev .row p.controls {
  margin: 0;
}

.video .tab-content .tab-pane .user-rev .row p.controls i.fas,
.video .tab-content .tab-pane .user-rev .row p.controls i.far {
  font-size: 18px;
  color: #3b3b3b;
  margin: 0 10px;
  cursor: pointer;
}

.video .tab-content .tab-pane .user-rev .row p.controls i.fas:hover,
.video .tab-content .tab-pane .user-rev .row p.controls i.far:hover {
  color: #0a0a0a;
}

.video .tab-content .tab-pane .user-rev .review {
  font-size: 16px;
  color: #0a0a0a;
  margin: 0;
  padding: 0 5px;
}

/* ========================== */

.video .tab-content .tab-pane .review-box p {
  color: #6f7074;
  margin: 0;
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.642;
}

.video .tab-content .tab-pane .review-box .star-rating button {
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  cursor: pointer;
}

.video .tab-content .tab-pane .review-box .star-rating .star {
  font-size: 20px;
  padding: 0 3px;
}

.video .tab-content .tab-pane .review-box .star-rating .on {
  color: #d0d23c;
}

.video .tab-content .tab-pane .review-box .star-rating .off {
  color: #ccc;
}

/*===================================== Course Assesment ============================================*/

.video .tab-content .tab-pane form .set {
  margin-bottom: 10px;
}

.video .tab-content .tab-pane .set p.question {
  color: #0a0a0a;
  margin: 0 0 10px;
}

.video .tab-content .tab-pane .set label {
  cursor: pointer;
}

/* ================================ Course Material ========================= */

.video .tab-content .tab-pane .material .row {
  margin: 0 0 10px;
}

.video .tab-content .tab-pane .material img.img-fluid {
  width: 5%;
  padding: 0;
}

.video .tab-content .tab-pane .material .file-name {
  font-size: 16px;
  width: 20%;
  padding: 10px;
  margin: 0;
}

.video .tab-content .tab-pane .material a {
  width: 10%;
  padding: 10px;
  text-align: center;
}
/*========================================== Footer =================================================*/
.ufooter_bottom_area {
  padding: 5px 0 25px;
  background: transparent;
}
.ufooter_bottom_area .copyright-widget p {
  margin-bottom: 0;
  font-size: 13px;
  color: #0a0a0a;
}
/*=========================== Hide Scroll Bar =================================*/
@media only screen and (min-width: 769px) {
  .scrollbar {
    height: 549px;
    overflow-y: scroll;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .example {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
/*============================= Bookmarks =======================================*/
.p20 {
  padding: 20px;
}
.marked .p20 {
  padding: 20px 10px;
  margin: 0;
}
.marked .p20 .col-6 {
  width: 100%;
}
.marked .card {
  margin-bottom: 20px;
}
.marked .card .thumb {
  position: relative;
}
.marked .card .thumb:before {
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 20;
}
.marked .card .thumb .card-img {
  width: 100%;
}
.marked .card .thumb {
  position: relative;
}
.marked .card .thumb .fav {
  position: absolute;
  color: #fff;
  z-index: 999;
  font-size: 20px;
  top: 0;
  right: 0;
  margin-right: 14px;
  margin-top: 10px;
  z-index: 555;
}
.marked .card .thumb .img_overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  width: inherit;
  height: auto;
  color: #fff;
  transform: scale(1);
  transition: all 0.3s ease;
  z-index: 22;
}
.marked .card .thumb .img_overlay:before {
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  width: inherit;
  height: auto;
  right: 0;
  top: 0;
  z-index: 30;
}
.marked .card .thumb .img_overlay .center {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: inherit;
  width: fit-content;
  height: fit-content;
  z-index: 222;
}
.marked .card .thumb {
  position: relative;
}
.marked .card .thumb .stretched-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 333;
  pointer-events: auto;
  content: "";
}
.marked .card .fav:hover .far {
  cursor: pointer;
}
.marked .card .fav i.far {
  font-size: 24px;
  color: #fff;
  opacity: 0;
}
.marked .card:hover {
  box-shadow: 0px 0px 30px 0px rgb(32 32 32 / 15%);
  transition: all 0.3s ease;
}
.marked .card:hover .img_overlay {
  display: block;
  cursor: pointer;
}
.marked .card:hover .fav i.far {
  opacity: 1;
  cursor: pointer;
}
.marked .card .card-body {
  text-align: left;
  padding: 10px 15px;
}
.marked .card .card-body p {
  margin: 0 0 5px;
  font-size: 12px;
  color: #7e7e7e;
  letter-spacing: 1px;
}
.marked .card .card-body a.view_more {
  float: right;
  font-size: 12px;
}

.marked .card .card-body a.view_more:hover {
  color: #007bff;
}
.marked .card .card-body .card-title {
  font-size: 16px;
  font-weight: normal;
  height: 44px;
  word-spacing: 1px;
  margin-top: 0;
  margin-bottom: 8px;
}
.marked .card .card-body .card-text .fa {
  color: #1e87f0;
  padding-right: 1px;
}
.marked .card .card-body .card_footer .sdt {
  color: #555555;
  text-align: left;
  float: left;
  font-size: 12px;
  letter-spacing: normal;
  text-decoration: none;
}
.marked .card .card-body .card_footer .sdt .far {
  margin-right: 5px;
}
.marked .card .card-body .card_footer .price {
  text-align: right;
  float: right;
  color: #c75533;
  font-size: 18px;
  margin-top: -3px;
  letter-spacing: normal;
}
.marked .card .card-body .card_footer .price .fas {
  color: #c75533;
  font-size: 16px;
  margin-right: 5px;
}
.marked .card .card-body .card_footer .price:hover {
  text-decoration: none;
}
.marked .card .card-body hr {
  border-color: #ccc !important;
  margin: 15px 0;
}
/* ================= */
@media only screen and (min-width: 350px) {
  .marked .p20 .col-6 {
    width: 50%;
  }
}
/*=============== Order Details ================*/
.order .order-details {
  padding: 20px;
}
.order .order-details .scroll {
  width: 100%;
  overflow-y: scroll;
}
.order .order-details .table {
  min-width: 700px;
}
.order .order-details .table thead {
  font-size: 18px;
  background-color: #2441e7;
  color: #fff;
}
.order .order-details .table thead tr > td:first-child {
  text-align: center;
  width: 450px;
}
.order .order-details .table tr > td:nth-child(5),
.order .order-details .table tr > td:last-child {
  text-align: center;
  width: 105px;
}
.order .order-details .table tr td {
  padding: 10px;
}
.order .order-details .table thead tr td {
  border-bottom: 0;
}
.order .order-details .table .fas {
  font-size: 16px;
  color: #0a0a0a;
  margin-right: 5px;
}
.order .order-details .table a.bill {
  color: #007bff;
  text-decoration: underline;
}
@media only screen and (min-width: 768px) {
  .order .order-details .table tr td {
    padding: 20px;
  }
}
/*============== Settings Page =============*/
.settings .list-header {
  padding: 30px;
}
.settings .list-header h4 {
  line-height: 1.42857;
  color: #0a0a0a;
  margin: 0;
  font-size: 18px;
}
.settings .personal-details,
.settings .change-password {
  padding: 20px;
}
.settings .personal-details .upload-img {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  min-height: 200px;
  max-height: 250px;
  text-align: center;
}
.settings .personal-details .upload-img input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  overflow: hidden;
  opacity: 0;
}
.settings .personal-details .upload-img label {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  margin-bottom: 30px;
  overflow: hidden;
  cursor: pointer;
  background-color: #000;
  background-size: 100%;
  background-position-x: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
}
.settings .personal-details .upload-img label span {
  background-color: rgba(36, 65, 231, 0.9);
  bottom: 0;
  color: #ffffff;
  height: 40px;
  left: 0;
  padding-top: 10px;
  position: absolute;
  width: 100%;
}
.settings .personal-details .wrap {
  display: flex;
}
.settings .personal-details label {
  font-size: 14px;
  color: #0a0a0a;
  line-height: 1.2;
}
.settings .personal-details .form-control,
.settings .change-password .form-control {
  font-size: 14px;
  padding: 0 20px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 5px;
  background-color: rgba(196, 14, 117, 0);
  box-shadow: 0px 1px 4px 0px rgb(0 0 0 / 9%);
  height: 48px;
  margin-bottom: 30px;
}
.settings .settings-btn .btn {
  font-size: 15px;
  line-height: 1.2;
  height: 55px;
  width: 150px;
  background-color: #2441e7;
  border: 2px solid #2441e7;
  border-radius: 5px;
  color: #ffffff;
  transition: all 0.3s ease;
}
.settings .settings-btn .btn .fas {
  font-size: 15px;
  margin-left: 10px;
}
.settings .settings-btn .btn:hover {
  background-color: #ffffff;
  border-color: #2441e7;
  color: #2441e7;
}
.settings .change-password .old-alert {
  font-size: 14px;
  color: #ff1053;
}
.settings .change-password .icon {
  font-size: 14px;
  color: #ff1053;
  padding: 0 5px;
}
